@model Sandy_MVC_20190415_Q1.Models.CustomerModel

@{
    ViewBag.Title = "Check";
}

<h2>Check</h2>
@*@using (Html.BeginForm("Save", "Data",  FormMethod.Post))
{@Html.AntiForgeryToken()
<div>
    <hr />
    <dl class="dl-horizontal">
        <p>
            Name:@Model.Name
        </p>
        <p>
            Phone: @Model.Phone
        </p>
        <p>
           Email: @Model.Email
        </p>
    </dl>
</div>*@
@*<input onclick="location.href='@Url.Action("Save", "Data")'" type="button" value="save" name="btnSave" />*@
@*}*@

<form method="post" action="/Data/Save">
    Name:<input type="hidden" name="name" value="@Model.Name">@Model.Name<br />
    Phone:<input type="hidden" name="phone" value="@Model.Phone">@Model.Phone<br />
    Email:<input type="hidden" name="email" value="@Model.Email">@Model.Email<br />
   <input type="submit" value="save" name="btnSave" />
</form>